/*Structure*/
body {
    background-color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    color: #e344c8;
    background:url(cocky.png)
}

#content {
    background: rgba(255, 255, 255, 0.95);
    width: 95%;
    margin: auto;
    padding: 10px 15px;
    border-radius: 5px;
   
}

/*Navigation*/
#main-nav a {
    text-decoration: none;
    background: #e344c8;
    color: black;
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#main-nav a:hover {
    background: blueviolet;
}

/*Tables*/

table {
    border-collapse: collapse;
}

th, td{
    border: 1px solid #e344c8;
    padding: 4px;
}

th {
    background: #D62F70;
}

td {
    background: #ED4640;
}

/*Typography*/
h1 {
    color: blueviolet;
}
h2 {
    color: darkgreen;
}

/*Images*/
img {
    border:5px solid #ED4640;
    border-radius: 5px;
}

/*List*/
ol li{
    line-height: 30px;
}
