/*Structure*/

body {
  
}

#main-header{
    border: 2px solid palevioletred;
    background: lightgreen;
}


#main-content{
    
}

#main-footer{
    background-color: aquamarine;
}

.collof2{
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

.collof3{
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#images {
    margin-left: auto;
    margin-right: auto;

}


.padded-area {
    display: block;
    padding: 5px;
    margin: auto;
   
}
 
.info {
    border: 2px solid palevioletred;
    background: lightgreen;
}

#columns {
    background-color: blue;
}

.info header{
    
    margin:auto;
}

#side {
    background-color: chartreuse;
}

/* Main navigation*/
#main-nav ul{
    padding-left: 0px;
}

#main-nav li{
    list-style: none;
    
}

#main-nav a{
    text-decoration: none;
    color: black;
    border: 2px;
    border-radius: 2px;
}

#main-nav a:hover{
    border-bottom: 1px solid red;
}

#side {
    background-color: blue;
}

#ic {
    border: 2px;
}


/*Typography*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header{
    text-align: center;
}

#main-footer p, h2{
    text-align: center;
}

.right {
    text-align: right;
}

/*Larger Resolutions*/
@media (min-width: 900px){
    #main-nav ul,
    .columns,
    .images {
        display: flex;
    }

    #main-nav li,
    .collof2,
    .collof3 {
        flex: 1;
    }

    #content {
        flex: 2;
    }
    
    #side {
        flex: 1;
    }
}

