/*Structure*/

body {
    background-color: chartreuse;
}

/*Typography*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: blueviolet;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 3px dotted red;
    background-color: blue;
}

th {
    background-color: darkmagenta;
}

h1 {
    color: crimson;
    font-style: italic;
}